.aba {
    margin: 20px;
    border: 4px solid black;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: 100px;
    background-color: gold;
}

.body {
    height: 400px;
    background-color: white;
    padding: 50px;
}

.central-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-group {
    display: flex;
    width: 100px;
    height: 50px;
}

.input-group input {
    background-color: gray;
}

.equal {
    font-size: 100px;
}

.result {
    font-size: 80px;
}

.final-group {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}