@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

main {
    background-image: url(../img/building.png);
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    align-items: center;
    font-family: 'Merriweather', serif;
    background-color: white;
    width: 75vh;
    padding: 40px;
    text-align: center;
}

.card * {
    font-size: 12px;
}

.subtitle h3 {
    font-size: 20px;
}

/* Tamanho do form */
.form {
    height: 50vh;
}

.form-group {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 60vh;
}

/* Campos de texto */
.form-group input {
    background-color: #9EC4F0;
    font-size: 12px;
    padding: 12px;
}

.form-group div {
    width: 29vh;
}

.form button {
    text-align: center; 
    background-color: #9EC4F0;
    border: none;
    margin-top: 24px;
}