footer {
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    padding-top: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav-item div {
    padding: 10px;
    width: 20vh;
}

.nav-item div:hover {
    font-weight: 600;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer p:nth-of-type(1) {
    font-size: 22px;
}

footer p:nth-of-type(n+2) {
    font-size: 15px;
}