@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.dropdown-language-selection {
    padding-left: 30%;
    padding-right: 2%;
}

.btn-secondary {
    color: white;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    box-shadow: 2px 1px 5px gray;
}