body {
  /* background-color: rgba(100, 0, 0, 5%); */
  background-color: rgba(0, 0, 0, 80%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: white;
}

.deck {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  width: 60%;
}

.card {
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(0, 179, 255, 0.9);
  color: white;

  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;
  padding: 0.3em;
  width: 175px;
  height: 300px;
  font-size: 1.5em;
  transition: transform 0.3s;
  overflow: hidden;
}

.d1 {
  z-index: 1;
  left: 5em;
  top: 0.3em;
  transform: rotate(-6deg);
}

.d1:hover {
  transform: rotate(-6deg) translate(0, -1em);
}

.d2 {
  z-index: 2;
  left: 2.5em;
  top: 0.1em;
  transform: rotate(-3deg);
}

.d2:hover {
  transform: rotate(-3deg) translate(0, -1em);
}

.d3 {
  position: relative;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  z-index: 3;
  transition: translate .5s;
}

.d3:hover {
  translate: 0px -1em;
}

.circular-border {
  position: relative;
  right: 2.2em;
  background-color: red;
  border-radius: 100%;
  padding: 1.5em;
}

.moving-unit {
  position: relative;
  left: 2.3em;
  border: .5em dotted black;
  /*Dot*/
  border-radius: 100%;
  animation-name: bearing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: .7em;
  z-index: 2;
}

.inner-border {
  position: relative;
  left: .2em;
  outline: 2px solid black;
  border-radius: 100%;
  border: .6em solid red;
  background-color: black;
  border-radius: 100%;
  padding: .3em;
  z-index: 1;
}

.d4 {
  z-index: 2;
  right: 2.5em;
  top: 0.1em;
  transform: rotate(3deg);
}

.d4:hover {
  transform: rotate(3deg) translate(0, -1em);
}

.d5 {
  z-index: 1;
  right: 5em;
  top: 0.2em;
  transform: rotate(6deg);
}

.d5:hover {
  transform: rotate(6deg) translate(0, -1em);
}

@keyframes bearing {
  from {}

  to {
    transform: rotate(360deg);
  }
}