.preamble{
	padding: 40px;
    font-size: 20px;
	border-left: 25px solid white;
	border-right: 25px solid white;
}

html {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-size: 20px;
	background-color: skyblue;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
}

footer {
	background-color: white;
	padding: 10px;
	text-align: center;
}

h1{
	font-size: 40;
}

.explanation, .benefits{
	background-color: black;
	padding: 40px;
	display: block;
	color: white;
}

.participation, .requirements, .preamble{
    font-size: 20px;
	padding: 40px;
	border-left: 25px solid white;
	border-right: 25px solid white;
}

.sidebar .wrapper {
    font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}

aside h3 {
	display: block;
	font-size: 20px;
}

.explanation:hover, .benefits:hover {
	color: coral;
}